DevOps_Course/mongo_db/journal/WiredTigerLog.0000000001
DevOps_Course/exam(terraform)/.terraform/providers/registry.terraform.io/hashicorp/kubernetes/2.35.1/darwin_arm64/terraform-provider-kubernetes_v2.35.1_x5
DevOps_Course/mongo_db/journal/WiredTigerPreplog.0000000001
devops_course-main/lesson_10/listingsAndReviews.json
DevOps_Course/exam(terraform)/.terraform/providers/registry.terraform.io/hashicorp/aws/5.84.0/darwin_arm64/terraform-provider-aws_v5.84.0_x5
